.heading {
  font-size: var(--font-size-primary);
  color: var(--white);
  font-weight: var(--font-weight-primary);
}

.subheading {
  font-size: var(--font-size-primary);
  color: var(--primary);
  font-weight: var(--font-weight-primary);
}

.subheading::first-letter {
  text-transform: uppercase;
}

.body {
  font-size: var(--font-size-secondary);
  color: var(--secondary);
  font-weight: var(--font-weight-secondary);
}

.caption {
  font-size: var(--font-size-primary);
  color: var(--secondary);
  font-weight: var(--font-weight-primary);
}