.container {
  display: flex;
  flex-direction: row;
}

.people_info {
  width: 100%;
}

.container_clicked {
  display: flex;
  flex-direction: row;
}

@media (max-width: 576px) {

  .container,
  .container > div {
    width: 100%;
  }

  .people_list_clicked {
    display: none;
  }
}